<svg
  style="position: absolute; width: 0; height: 0; overflow: hidden"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
>
  <symbol id="af-logo" viewBox="0 0 172 68">
    <rect width="172" height="68" rx="34" fill="#FF1729"></rect><rect
      width="68"
      height="68"
      rx="34"
      fill="#000"></rect><path
      d="M145.773 12.913c0-.685-.342-.913-1.024-.913h-26.275v.799h2.389c.682 0 1.023.342 1.023 1.027v33.892c-.682-.8-1.365-2.054-2.616-3.88l-7.848-11.64c4.663-2.054 6.824-4.45 6.824-7.417 0-3.424-3.071-6.276-7.507-6.276-4.777 0-7.734 3.423-7.734 7.76 0 2.167.796 3.993 1.706 5.59-1.934.8-3.64 1.94-4.891 3.196l-7.735-21.453c-.455-1.256-.682-1.484-1.25-1.484h-.115c-.568 0-.682.114-1.25 1.37L77.525 46.12c-.91 2.282-1.137 2.739-2.502 2.739H74v.684h8.19v-.684h-2.503c-1.365 0-2.047-.457-1.365-2.397l3.526-9.813h11.944l2.047 5.591c2.047 5.592 5.915 7.76 11.033 7.76 3.64 0 6.37-1.37 8.19-3.081 1.706 2.282 4.094 2.625 6.142 2.625h10.692v-.685h-2.503c-.682 0-1.023-.343-1.023-1.027V30.486h3.867c3.981 0 5.573 1.484 5.687 4.337v1.255h.796V24.096h-.796v1.255c-.114 2.853-1.706 4.337-5.687 4.337h-3.867V13.712c0-.685.341-1.027 1.023-1.027h7.28c5.46 0 7.962 3.195 8.531 8.33v.57H146l-.227-8.672Zm-38.446 10.384c0-2.51.91-4.108 3.299-4.108 2.388 0 3.412 1.94 3.412 5.478v.228c0 2.739-.796 4.907-3.185 6.504l-.114-.114c-2.161-3.195-3.526-5.591-3.526-7.76l.114-.228ZM82.19 35.964l5.573-15.634 5.801 15.634H82.19Zm27.639 11.982c-2.502 0-5.232-.799-6.824-4.45l-.228-.571c-1.706-4.108-.796-8.559 2.275-10.727l9.555 14.264c-1.365 1.142-2.958 1.484-4.778 1.484Z"
      fill="#fff"></path>
  </symbol>
</svg>

<header id="rep-page-header" class="rep-page-header">
  <div class="rep-page-header__content">
    <div class="rep-page-header__social-follow">
      <span>Seguici su:</span>
      <div id="gs-social-follow"></div>
    </div>
    <div class="rep-page-header__brand">
      <h1 class="rep-page-header__brand-logo">
        <a href="https://www.repubblica.it/economia/"
          ><svg width="172" height="68"><use href="#af-logo"></use></svg> Economia</a
        >
      </h1>
    </div>
    <div class="rep-page-header__search">
      <form action="//www.repubblica.it/economia/ricerca" method="get">
        <input
          type="text"
          class="main-search-input"
          name="query"
          placeholder="CERCA"
          value=""
          maxlength="20"
        />
        <button
          class="rep-page-header__search-submit"
          value="Submit"
          type="submit"
        >
          <svg>
            <use href="#r-icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
    <!-- #start http://www.repstatic.it/cless/common/adv/include/async/x20.html -->
    <div id="adv-x20"></div>
    <!-- #end http://www.repstatic.it/cless/common/adv/include/async/x20.html -->
  </div>
</header>
<script is:inline>
  var socialParams = {
    gsButtons: [
      {
        provider: "facebook",
        actionURL: "https://www.facebook.com/RepubblicaEconomia/",
      },
      {
        provider: "twitter",
        followUsers: "rep_economia",
      },
    ],
  };
</script>


<style is:inline>
  .rep-page-header__content {
    background-color: #ff7d7d;
  }
  .rep-page-header__brand-logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
  .rep-page-header__brand-logo a:hover {
    color: #fff;
  }
  .rep-page-header__social-follow {
    left: 16px;
  }
  .rep-page-header__social-follow #gs-social-follow svg:hover {
    fill: #fff;
  }
  .rep-page-header__search {
    right: 16px;
  }
</style>
