---
import Base from "../../template/Base.astro";
import "../../css/common/common.css";
import "../../css/detail/detail.css";
const { title } = Astro.props;
---

<Base title="home">
  <h1></h1>
</Base>
