
.rep-slim-header {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    z-index: 100000;
    border-bottom: 1px #e9e9ee solid;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    background-color: #fff;
    white-space: nowrap;
    box-sizing: border-box;
    margin: 0 auto;
}


.rep-slim-header a{color:inherit}
.rep-slim-header a:hover{color:#4b88ca}
.rep-slim-header__notification-button[hidden]{visibility:hidden;display:block}

#repNetworkNav,
#repSearchForm{display:none}

.rep-slim-header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    background: #f9f9f9;
    border-top: 1px #e9e9ee solid;
    font-size: 11px;
    font-weight: 500;
}

.rep-left-nav button, .rep-slim-header button {
    background: 0 0;
    border: none;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

.rep-slim-header__notification-button svg {
    width: 20px;
    height: 20px;
}

.rep-left-nav a, .rep-page-footer a, .rep-page-header a, .rep-page-header-nav a, .rep-slim-header a {
    text-decoration: none;
    cursor: pointer;
}

.rep-slim-header__top .r-premium-logo {
    width: 22px;
    height: 22px;
}

.rep-page-footer-content, .rep-page-header-nav, .rep-page-header__content, .rep-slim-header__content {
    margin-left: auto;
    margin-right: auto;
}


.rep-slim-header__left, .rep-slim-header__right {
    display: flex;
    align-items: center;
}

.rep-slim-header__left, .rep-slim-header__right {
    flex: 1;
}

.rep-slim-header button {
    font-size: 12px;
}

.rep-left-nav button, .rep-slim-header button {
    background: 0 0;
    border: none;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

.rep-slim-header__menu-button svg {
    width: 18px;
    height: 16px;
}

.rep-left-nav a>span, .rep-left-nav button>*, .rep-page-footer a>span, .rep-page-footer button>*, .rep-page-header a>span, .rep-page-header button>*, .rep-page-header-nav a>span, .rep-page-header-nav button>*, .rep-slim-header a>span, .rep-slim-header button>* {
    pointer-events: none;
}
.rep-slim-header button {
    font-size: 12px;
}

.rep-slim-header__item:last-child {
    padding-right: 0;
}

.rep-slim-header__center {
    text-align: center;
}

.rep-slim-header__right {
    justify-content: flex-end;
}

.rep-slim-header__left, .rep-slim-header__right {
    display: flex;
    align-items: center;
}

.rep-slim-header__search-button svg {
    width: 16px;
    height: 16px;
}


.rep-left-nav svg, .rep-page-footer svg, .rep-page-header svg, .rep-page-header-nav svg, .rep-slim-header svg {
    vertical-align: middle;
}

.rep-slim-header__logo {
    margin: 0;
}

.rep-slim-header .repubblica-logo {
    width: 138px;
    height: 28px;
}

.rep-slim-header__item--subscribe {
    padding: 17px 16px!important;
    background-color: #4b88ca;
    color: #fff!important;
}

.rep-slim-header__item {
    position: relative;
    text-transform: uppercase;
}

.rep-slim-header__item {
    position: relative;
    text-transform: uppercase;
}

.rep-slim-header__right .r-premium-logo {
    width: 20px;
    height: 20px;
    margin: -5px 3px -5px 0;
}

.rep-slim-header__user {
    font-size: 12px;
    line-height: 1;
    letter-spacing: .4px;
    cursor: pointer;
    text-transform: uppercase;
}

.rep-slim-header__user #account-data-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
}

.rep-slim-header__user .header-logged-label, .rep-slim-header__user .header-login-label {
    display: inline-block;
    margin-right: 5px;
    display: none;
}

.rep-slim-header .social-icon-user {
    width: 24px;
    height: 24px;
}

.rep-slim-header__content {
    display: flex;
    align-items: center;
    min-height: 50px;
}

.rep-slim-header__search {
    margin: 10px;
    width: 100%;
    position: relative;
}

.rep-slim-header__search input[type=search] {
    font-size: 16px;
    color: #4d4d4d;
    background: #fff;
    height: 48px;
    width: 100%;
    padding: 6px 12px;
    padding-right: 45px;
    border-radius: 3px;
    appearance: none;
    border: 1px #e9e9ee solid;
    box-sizing: inherit;
}

.rep-slim-header__search button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.rep-left-nav button, .rep-slim-header button {
    background: 0 0;
    border: none;
    text-align: left;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

.rep-slim-header__search svg {
    height: 18px;
    width: 18px;
}

.rep-slim-header__search__close-button svg {
    height: 16px;
    width: 16px;
}

@media screen and (max-width: 767px){
    .rep-slim-header__user #account-data-container {
        padding: 10px 16px;
        width: 56px;
        height: 44px;
    }

}

@media screen and (max-width:767px){
.hide-on-mobile{display:none!important}
.rep-slim-header__menu-button{padding:10px 16px}
.rep-slim-header__user #account-data-container{padding:10px 16px;width:56px;height:44px}
.rep-slim-header__user .header-logged-link{right:0;left:auto;width:100px}
}