@import url(_partial.css);

body {
  background-color: #fafafa;
  h1 {
    color: red;
    @media (--small-viewport) {
      color: black;
    }
  }

  @media (--small-viewport) {
    background-color: pink;
  }
}
