/*
// ----------------------------------
// 🧑‍🚀 Gedi DS - Home Custom CSS
// ----------------------------------
*/


$var: aqua;
$var2: green;

body {
    color: $var2;
}


body {
    background: green;
    color:purple;
}


