/*
// ----------------------------------
// 🧑‍🚀 Gedi DS - Home Custom CSS
// ----------------------------------
*/

$var: aqua;
$var2: green;

body {
    position: relative;
    height: 100%;
    color: $var2;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.swiper {
  width: 50%;
}

.card img {
  width: 100%;
}
.swiper-wrapper {
  display:none;
  position: relative;
 
}



