---
interface Props {
  title?: string;
}
const { title } = Astro.props;
import "@css/common/common.css";
import EsiInclude from "@components/Esi/EsiInclude.astro";
import Head from "@page/include/common/commonHead.astro";
---

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>{title} - Gedi Design System</title>
    <Head template={title} />
  </head>
  <body>
    {
      title != "Index" ? (
        <EsiInclude src="/include/common/slim-header.astro" />
      ) : null
    }
    <slot />
  </body>
</html>
