---
import Base from "@template/Base.astro";

const indexData = [
  {
    name: "Homepage",
    path: "/view/home",
  },
  {
    name: "Detail",
    path: "/view/detail",
  },
  {
    name: "Cronaca",
    path: "/view/cronaca",
  },
];
---

<Base title="Index">
  <main class="gedi-index" role="main">
    <nav class="gedi-index-list-nav" aria-label="primary">
      <ul class="ged-index-list">
        {
          indexData.map((item) => (
            <li class="gedi-index-list-item">
              <a href={item.path}>{item.name}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <style>
      .gedi-index {
        padding: 5vh 5vw;
      }
      .gedi-index-list-nav {
        position: relative;
      }
      .ged-index-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 8px;
      }
      .gedi-index-list-item {
        position: relative;
      }
    </style>
  </main>
</Base>
